<?xml version="1.0"?>
<launch>
  <param name="robot_description" value="...."/>
                               
  <node pkg="controller_stopper" type="controller_stopper_node" name="controller_stopper" cwd="node" respawn="false" output="screen">
    <remap from='robot_running' to='ur_hardware_interface/robot_program_running' />
    <param name="consistent_controllers" value="[joint_state_controller,speed_scaling_state_controller,force_torque_sensor_controller,robot_status_controller]" />
  </node>
  <node pkg="ur_robot_driver" type="robot_state_helper" name="ur_robot_state_helper" ns="ur_hardware_interface" cwd="node" respawn="false" output="screen">
    <remap from='set_mode' to='ur_hardware_interface/set_mode' />
  </node>
  <node pkg="controller_manager" type="spawner" name="ros_control_controller_spawner" cwd="node" respawn="false" output="screen">
    <remap from='set_mode' to='ur_hardware_interface/set_mode' />
    <param name="/hardware_control_loop/loop_hz" value="500" />
    <param name="/ur_hardware_interface/joints" value="[shoulder_pan_joint,shoulder_lift_joint,elbow_joint,wrist_1_joint,wrist_2_joint,wrist_3_joint]" />
    <param name="/joint_state_controller/type" value="joint_state_controller/JointStateController" />
    <param name="/joint_state_controller/publish_rate" value="500" />
    <param name="/force_torque_sensor_controller/type" value="force_torque_sensor_controller/ForceTorqueSensorController" />
    <param name="/force_torque_sensor_controller/publish_rate" value="500" />
    <param name="/speed_scaling_state_controller/type" value="ur_controllers/SpeedScalingStateController" />
    <param name="/speed_scaling_state_controller/publish_rate" value="500" />
    <param name="/joint_group_vel_controller/type" value="velocity_controllers/JointGroupVelocityController" />
    <param name="/robot_status_controller/type" value="industrial_robot_status_controller/IndustrialRobotStatusController" />
    <param name="/robot_status_controller/publish_rate" value="10" />
    <param name="/robot_status_controller/handle_name" value="industrial_robot_status_handle" />
    <rosparam>
scaled_pos_joint_traj_controller:
  joints: [shoulder_pan_joint,shoulder_lift_joint,elbow_joint,wrist_1_joint,wrist_2_joint,wrist_3_joint]
  type: position_controllers/ScaledJointTrajectoryController
  constraints: 
    goal_time: 0.6
    stopped_velocity_tolerance: 0.05
    shoulder_pan_joint: 
      trajectory: 0.2
      goal: 0.1
    shoulder_lift_joint: 
      trajectory: 0.2
      goal: 0.1
    elbow_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_1_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_2_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_3_joint: 
      trajectory: 0.2
      goal: 0.1
  stop_trajectory_duration: 0.5
  state_publish_rate: 500.0
  action_monitor_rate: 20
    </rosparam>
    <rosparam>
pos_joint_traj_controller:
  type: position_controllers/JointTrajectoryController
  joints: [shoulder_pan_joint,shoulder_lift_joint,elbow_joint,wrist_1_joint,wrist_2_joint,wrist_3_joint]
  constraints: 
    goal_time: 0.6
    stopped_velocity_tolerance: 0.05
    shoulder_pan_joint: 
      trajectory: 0.2
      goal: 0.1
    shoulder_lift_joint: 
      trajectory: 0.2
      goal: 0.1
    elbow_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_1_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_2_joint: 
      trajectory: 0.2
      goal: 0.1
    wrist_3_joint: 
      trajectory: 0.2
      goal: 0.1
  stop_trajectory_duration: 0.5
  state_publish_rate: 500.0
  action_monitor_rate: 20
    </rosparam>
    <rosparam>
scaled_vel_joint_traj_controller:
  type: position_controllers/JointTrajectoryController
  joints: [shoulder_pan_joint,shoulder_lift_joint,elbow_joint,wrist_1_joint,wrist_2_joint,wrist_3_joint]
  constraints: 
    goal_time: 0.6
    stopped_velocity_tolerance: 0.05
    shoulder_pan_joint: 
      trajectory: 0.1
      goal: 0.1
    shoulder_lift_joint: 
      trajectory: 0.1
      goal: 0.1
    elbow_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_1_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_2_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_3_joint: 
      trajectory: 0.1
      goal: 0.1
  gains: 
    shoulder_pan_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    shoulder_lift_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    elbow_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_1_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_2_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_3_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
  velocity_ff: 
    shoulder_pan_joint: [1.0]
    shoulder_lift_joint: [1.0]
    elbow_joint: [1.0]
    wrist_1_joint: [1.0]
    wrist_2_joint: [1.0]
    wrist_3_joint: [1.0]
  stop_trajectory_duration: 0.5
  state_publish_rate: 500.0
  action_monitor_rate: 20
    </rosparam>
    <rosparam>
vel_joint_traj_controller:
  type: velocity_controllers/JointTrajectoryController
  joints: [shoulder_pan_joint,shoulder_lift_joint,elbow_joint,wrist_1_joint,wrist_2_joint,wrist_3_joint]
  constraints: 
    goal_time: 0.6
    stopped_velocity_tolerance: 0.05
    shoulder_pan_joint: 
      trajectory: 0.1
      goal: 0.1
    shoulder_lift_joint: 
      trajectory: 0.1
      goal: 0.1
    elbow_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_1_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_2_joint: 
      trajectory: 0.1
      goal: 0.1
    wrist_3_joint: 
      trajectory: 0.1
      goal: 0.1
  gains: 
    shoulder_pan_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    shoulder_lift_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    elbow_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_1_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_2_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
    wrist_3_joint: 
      p: 5.0
      i: 0.05
      d: 0.1
      i_clamp: 1
  velocity_ff: 
    shoulder_pan_joint: [1.0]
    shoulder_lift_joint: [1.0]
    elbow_joint: [1.0]
    wrist_1_joint: [1.0]
    wrist_2_joint: [1.0]
    wrist_3_joint: [1.0]
  stop_trajectory_duration: 0.5
  state_publish_rate: 500
  action_monitor_rate: 20
    </rosparam>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" cwd="node" respawn="false" output="screen">
  </node>
  <node pkg="ur_robot_driver" type="ur_robot_driver_node" name="ur_hardware_interface" cwd="node" respawn="false" output="screen">
    <param name="script_sender_port" value="50002" />
    <param name="use_tool_communication" value="false" />
    <param name="tf_prefix" value="" />
    <param name="input_recipe_file" value="" />
    <param name="script_file" value="" />
    <param name="robot_ip" value="192.168.56.101" />
    <param name="tool_tx_idle_chars" value="3.5" />
    <param name="tool_stop_bits" value="1" />
    <param name="output_recipe_file" value="" />
    <param name="tool_rx_idle_chars" value="1.5" />
    <param name="tool_voltage" value="0" />
    <param name="tool_baud_rate" value="115200" />
    <param name="tool_parity" value="0" />
    <param name="reverse_port" value="50001" />
    <param name="headless_mode" value="false" />
    <rosparam>
kinematics:
  shoulder: 
    x: 0.0
    y: 0.0
    z: 0.1625
    roll: -0.0
    pitch: 0.0
    yaw: -0.0
  upper_arm: 
    x: 0.0
    y: 0.0
    z: 0.0
    roll: 1.570796327
    pitch: 0.0
    yaw: -0.0
  forearm: 
    x: -0.425
    y: 0.0
    z: 0.0
    roll: -0.0
    pitch: 0.0
    yaw: -0.0
  wrist_1: 
    x: -0.3922
    y: 0.0
    z: 0.1333
    roll: -0.0
    pitch: 0.0
    yaw: -0.0
  wrist_2: 
    x: 0.0
    y: -0.0997
    z: -2.044881182297852E-11
    roll: 1.570796327
    pitch: 0.0
    yaw: -0.0
  wrist_3: 
    x: 0.0
    y: 0.0996
    z: -2.042830148012698E-11
    roll: 1.570796326589793
    pitch: 3.141592653589793
    yaw: 3.141592653589793
  hash: calib_12788084448423163542
    </rosparam>
  </node>

</launch>
