<?xml version="1.0"?>
<launch>
<param name="bluetooth_teleop/teleop_twist_joy/enable_button" value="4"/>
<param name="bluetooth_teleop/teleop_twist_joy/scale_angular" value="1.4"/>
<param name="bluetooth_teleop/teleop_twist_joy/enable_turbo_button" value="5"/>
<param name="bluetooth_teleop/teleop_twist_joy/teleop_twist_joy/scale_linear" value="0.4"/>
<param name="bluetooth_teleop/teleop_twist_joy/scale_linear_turbo" value="2.0"/>
<param name="bluetooth_teleop/teleop_twist_joy/axis_angular" value="0"/>
<param name="bluetooth_teleop/teleop_twist_joy/axis_linear" value="1"/>
<param name="bluetooth_teleop/joy_node/deadzone" value="0.1"/>
<param name="bluetooth_teleop/joy_node/autorepeat_rate" value="20"/>
<param name="/jackal_joint_publisher/type" value="joint_state_controller/JointStateController"/>
<param name="/jackal_joint_publisher/publish_rate" value="50"/>
<rosparam param="list">[0.001,0.001,1000000.0,1000000.0,1000000.0,0.03]</rosparam>
<rosparam param="list">[front_right_wheel,rear_right_wheel]</rosparam>
<rosparam param="list">[0.001,0.001,0.001,1000000.0,1000000.0,0.03]</rosparam>
<param name="/jackal_velocity_controller/linear/x/max_velocity" value="2.0"/>
<param name="/jackal_velocity_controller/linear/x/has_acceleration_limits" value="true"/>
<param name="/jackal_velocity_controller/linear/x/has_velocity_limits" value="true"/>
<param name="/jackal_velocity_controller/linear/x/max_acceleration" value="20.0"/>
<param name="/jackal_velocity_controller/publish_rate" value="50.0"/>
<param name="/jackal_velocity_controller/wheel_radius_multiplier" value="1.0"/>
<rosparam param="list">[front_left_wheel,rear_left_wheel]</rosparam>
<param name="/jackal_velocity_controller/k_r" value="0.1"/>
<param name="/jackal_velocity_controller/wheel_separation_multiplier" value="1.5"/>
<param name="/jackal_velocity_controller/right_wheel_radius_multiplier" value="1.0"/>
<param name="/jackal_velocity_controller/enable_odom_tf" value="true"/>
<param name="/jackal_velocity_controller/k_l" value="0.1"/>
<param name="/jackal_velocity_controller/cmd_vel_timeout" value="0.25"/>
<param name="/jackal_velocity_controller/type" value="diff_drive_controller/DiffDriveController"/>
<param name="/jackal_velocity_controller/angular/z/max_velocity" value="4.0"/>
<param name="/jackal_velocity_controller/angular/z/has_acceleration_limits" value="true"/>
<param name="/jackal_velocity_controller/angular/z/has_velocity_limits" value="true"/>
<param name="/jackal_velocity_controller/angular/z/max_acceleration" value="25.0"/>
<param name="/jackal_velocity_controller/left_wheel_radius_multiplier" value="1.0"/>

  <node pkg="jackal_base" type="jackal_node" name="jackal_node" cwd="node" respawn="false" output="screen">
<param name="require/publishers" value="[status,feedback,imu/data_raw,navsat/nmea_sentence]" />
<param name="require/subscribers" value="[cmd_drive,wifi_connected]" />
<param name="wireless_interface" value="wlp2s0" />
<param name="port" value="/dev/jackal" />
  </node>
  <node pkg="rosserial_python" type="message_info_service" name="rosserial_message_info" cwd="node" respawn="false" output="screen">
  </node>
  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" ns="navsat" cwd="node" respawn="false" output="screen">
    <remap from='time_reference' to='navsat/time_reference' />
    <remap from='vel' to='navsat/vel' />
    <remap from='fix' to='navsat/fix' />
    <remap from='nmea_sentence' to='navsat/nmea_sentence' />
  </node>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" cwd="node" respawn="false" output="screen">
  </node>
  <node pkg="controller_manager" type="spawner" name="controller_spawner" cwd="node" respawn="false" output="screen">
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" cwd="node" respawn="false" output="screen">
<param name="ekf_localization/odom0" value="/jackal_velocity_controller/odom" />
<param name="ekf_localization/imu0" value="/imu/data" />
<param name="ekf_localization/odom0_config" value="[false,false,false,false,false,false,true,true,true,false,false,true,false,false,false]" />
<param name="ekf_localization/odom0_differential" value="false" />
<param name="ekf_localization/base_link_frame" value="base_link" />
<param name="ekf_localization/imu0_differential" value="false" />
<param name="ekf_localization/imu0_config" value="[false,false,false,true,true,true,false,false,false,true,true,true,false,false,false]" />
<param name="ekf_localization/frequency" value="50" />
<param name="ekf_localization/world_frame" value="odom" />
<param name="ekf_localization/odom_frame" value="odom" />
  </node>
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" cwd="node" respawn="false" output="screen">
    <remap from='cmd_vel_out' to='jackal_velocity_controller/cmd_vel' />
  <rosparam>
/twist_mux/locks:
  topic: e_stop
  priority: 255
  name: e_stop
  timeout: 0.0
  </rosparam>
  <rosparam>
/twist_mux/topics:
- topic : joy_teleop/cmd_vel
  priority : 10
  name : joy
  timeout : 0.5
  - topic : bluetooth_teleop/cmd_vel
  priority : 9
  name : bt_joy
  timeout : 0.5
  - topic : twist_marker_server/cmd_vel
  priority : 8
  name : interactive_marker
  timeout : 0.5
  - topic : cmd_vel
  priority : 1
  name : external
  timeout : 0.5
  </rosparam>
  </node>
  <node pkg="joy" type="joy_node" name="joy_node" ns="bluetooth_teleop" cwd="node" respawn="false" output="screen">
    <remap from='diagnostics' to='bluetooth_teleop/diagnostics' />
    <remap from='joy/set_feedback' to='bluetooth_teleop/joy/set_feedback' />
  </node>
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" ns="bluetooth_teleop" cwd="node" respawn="false" output="screen">
  </node>
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" cwd="node" respawn="false" output="screen">
    <remap from='cmd_vel' to='twist_marker_server/cmd_vel' />
  </node>

</launch>
