<?xml version="1.0"?>
<launch>
                               
  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" cwd="node" respawn="false" output="screen">
    <remap from='cmd_vel' to='turtle1/cmd_vel' />
  </node>
  <node pkg="turtlesim" type="turtle_teleop_key" name="turtle_teleop_key" cwd="node" respawn="false" output="screen">
  </node>

</launch>
